*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
#preloader{
    background: #f2f3f5 url(images/pageloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}



section{
   
    margin: 0 auto;
    width: 100%;
     height: auto;
    
}


/* end of hed section */
.header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: sticky;
    width: 100%;
    top: 0;
    padding: 0.5vh;
    background-color: white;
    z-index: 1;
   
    height: auto;
    
    display: flex;
    flex-direction: column;

    
}
.hed{
    width: 100%;
    height: 7vh;
    background-color: rgb(40, 49, 56);
}
.opensidebar,.name{
    display: none;
}

/* The sidebarOverlay (background) */
.sidebaroverlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .sidebaroverlaycontent {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .sidebaroverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebaroverlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .sidebaroverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  



nav{
    
   justify-content: space-around;
   align-items: center;
   text-align: center;
    display: flex;
}

.logo img{
    width: 7vw;
    padding: 2px;
    
}
/* end oflogo */
.menus ul{
    justify-content: center;
   align-items: center;
   text-align: center;
    display: flex;
    display: flex;
}
.menus ul li {
    list-style: none;
    margin: 20px;
}
.menus ul li a{
    text-decoration: none;
   color: black;
   
}
.menus ul li a:hover{
    
    color: rgb(42, 135, 227);
   
}
.quote  a{
   
    background-color: rgb(40, 49, 56);
    padding: 10px;
   
   
}
  


.active,li:hover{
    background-color: transparent;
    border-radius: 3px;
  }
  
  .submenu{
      display: none;
  }
  
  .menus ul li:hover .submenu{
      display: block;
      position: absolute;
      background-color: rgb(42, 135, 227);
      margin-top: 5px;
      margin-left: -15px;
  }
  .menus ul li:hover .submenu ul{
      display: block;
      margin: 10px;
  }
  .menus ul li:hover .submenu ul li{
      width: 160px;
      padding: 5px;
      border-bottom: 1px  dotted white;
      background: transparent;
      border-radius: 0;
      text-align: left;
  }
  .menus ul li:hover .submenu ul li:last-child{
     border-bottom: none;
  }
  .menus ul li:hover .submenu ul li a:hover{
    color: black;
  }
  
  
  
  

.contact{
    
    justify-content: space-around;
   align-items: center;
   text-align: center;
    display: flex;
}
.contact i{
    margin: 6px;
    background-color: rgb(40, 49, 56);
    color: white;
    border-radius: 50%;
    padding: 7px;

}
/* end of menus */
/* end of header */


.homepage{
    margin-top: 1vh;
    height: 80vh;
    

    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
     
}
#slideimg{
    width: 100%;
    height: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.over{
  
    height: auto;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 8vh;
    color: white;
}
.over h1{
    font-size: 7vh;
}
.over h1 span{
    color: orange;
   
  
}
.btn{
    margin-top: 2vh;
}
.btn button{
    width: 200px;
    padding: 12px 0 ;
    text-align: center;
    max-width: 0 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orange;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}


.mediaicons{
   
    height: auto;
    width: 50px;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;
    z-index: 1;
    background-color: #f4efef;
}
.mediaicons i{
    padding-bottom: 10px;
    font-size: 6vh;
    color: rgb(42, 135, 227);
    border-radius: 50%;
    
}


/* end of homepage section */
.destinations{
    height: auto;
    background-color: #f4efef;
    padding-top: 10vh;

    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    width: 80vw;
}
.title h1{
    padding: 2vh;
    font-size: 7vh;
}
.title h1 span{
    color: rgb(255, 188, 30);

    
}
.title p{
    font-size: 3.5vh;
}
.destiny{
    padding: 4vh;
    height: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.destiny1{
    background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/mombasa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 48vw;
    border-radius: 10px;
    margin: 3vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
}
/* end of destiny1 */
.destiny2{
    height: 70vh;
    width: 48vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.destiny21{
    background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/zanzibar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 42%;
    border-radius: 10px;
    margin: 2%;

    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
   

}
.destiny22{
    background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/amboseli.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 42%;
    border-radius: 10px;
    margin: 2%;


    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
   

}
.destiny23{
    background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/kilimanjaro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 42%;
    border-radius: 10px;
    margin: 2%;
   


    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
}
.destiny24{
    background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/naivasha.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 42%;
    border-radius: 10px;
    margin: 2%;
   


    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;

}
/* end of destinations */
/* animations for internationals div */
@keyframes appear{
    from{
        opacity: 0;
        scale : 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.International{
    height: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.International .heading{
    text-align: center;
    width: 80vw;
}
.International .heading h1{
    padding: 2vh;
    font-size: 7vh;
}
.International .heading h1 span{
    color: rgb(255, 188, 30);
}
.International .heading p{
    font-size: 3.5vh;
}
.interdes{
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.interdes1{
    width: 25vw;
    margin: 2vw;
    height: auto;
}
.interdes1 button{
    padding: 6px;
    background-color: rgb(255, 188, 30);
    color: white;
    border: none;
    width: 100%;
}
.interdes1 img{
    width: 100%;
    height: 25vh;
}
.content{
    background-color: rgb(240, 233, 233);
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* applys for every icons  */
.icons{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
/* applys for every dot */
.dot{
    width: 17px;
    height: 17px;
    background-color: black;
    border-radius: 50%;
    margin: 2px;
}
/* end of international */
/* animations for themedpackages */
@keyframes appear2{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
       scale: 1;
    }
}
.themedpackeges{
    height: auto;
    background-color: #f4efef;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.themehed{
  width: 80vw;
 
}
.themehed h1{
    font-size: 7vh;
    padding: 2vh;
    
}
.themehed h1 span{
    color: rgb(255, 188, 30);
}
.themehed p{
    font-size: 3vh;
}

.packages{
    height: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.package1{
   
    width: 25vw;
    padding: 1vh;
    height: auto;
    margin: 2vw;
    transition: 1.5s;
}
.package1:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
.package1 img{
    width: 100%;
    border-radius: 10px;
    height: 35vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.info{
    background-color: white;
    padding: 1vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.info h2{
    font-size: 3vh;
    padding: 3px;
}
.info button{
    padding: 10px;
    background-color: rgb(255, 188, 30);
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;

}
/* end of packages */
/* animations for offer */
@keyframes appear3{
    from{
        opacity: 1;
       scale: 0.7;
    }
    to{
        opacity: 1;
       scale: 1;
    }
}

.offers{
    height: auto;
   
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;

}
.offershed {
    width: 80vw;
}
.offershed h1{
    font-size: 7vh;
    padding: 2vh;
}
.offershed h1 span{
    color: rgb(255, 188, 30);
}
.offershed p{
    font-size: 3vh;
}
.theoffers{
    height: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.offer1{
   
    height: auto;
    width: 25vw;
    margin: 2vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.offer1 .image{
    width: 100%;
    height: 35vh;
    background-image: url(images/offer1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid transparent;
}
.offer1 .image p{
    background-color: rgb(42, 135, 227);
    width: auto;
    color: white;
    border-radius: 7px;
    padding: 4px;
    margin-top: 30vh;
    
}
/* applys to all description in offer1,2,3,4 */
.description{

text-align: left;
margin: 5px;
}
.description h5{
    font-size: 3vh;
}
.description p{
    padding-top: 3px;
}
.description i{
    color: orange;
    padding-top: 10px;
}
/* end of description */

.offer2{
    height: auto;
    width: 25vw;
    margin: 2vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.offer2 .image{
    width: 100%;
    height: 35vh;
    background-image: url(images/birthday.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid transparent;
}
.offer2 .image p{
    background-color: rgb(42, 135, 227);
    width: auto;
    color: white;
    border-radius: 7px;
    padding: 4px;
    margin-top: 30vh;
    
}

.offer3{
    height: auto;
    width: 25vw;
    margin: 2vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.offer3 .image{
    width: 100%;
    height: 35vh;
    background-image: url(images/offer3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid transparent;
}
.offer3 .image p{
    background-color: rgb(42, 135, 227);
    width: auto;
    color: white;
    border-radius: 7px;
    padding: 4px;
    margin-top: 30vh;
    
}


.offer4{
    height: auto;
    width: 25vw;
    margin: 2vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.offer4 .image{
    width: 100%;
    height: 35vh;
    background-image: url(images/offer4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid transparent;
}
.offer4 .image p{
    background-color: rgb(42, 135, 227);
    width: auto;
    color: white;
    border-radius: 7px;
    padding: 4px;
    margin-top: 30vh;
    
}
/* end of offers */
footer{
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: auto;
    background-color: black;
    color: white;
  
}
.foot{
    height: auto;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.foot1{
    width: 41vw;
    height: auto;
    margin: 1vw;
    text-align: left;
}
.foot1 h2{
 padding: 10px;
 font-size: 3vh;
}
.foot1 p{
    padding: 2vh;
}
.foot1 i{
    padding: 10px;
    font-size: 20px;
}


/* media queries for small screens */
@media only screen and (max-width: 830px){

    #preloader{
        background: #f2f3f5 url(images/pageloader.gif) no-repeat center center;
        background-size: 20%;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    .homepage .mediaicons{
        display: none;
    }
}


@media only screen and (max-width: 830px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    section{
        margin: 0 auto;
        width: 100%;
         height: auto;
        
    }
    
    
    /* end of hed section */
    .header{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        position: sticky;
        width: 100%;
        top: 0;
        padding: 0.5vh;
        background-color: white;
        z-index: 1;
       
        height: auto;
        
        display: flex;
        flex-direction: column;
    }
    .hed{
        width: 100%;
        height: 7vh;
        background-color: rgb(40, 49, 56);
        justify-content: space-between;
        align-items: center;
        text-align: center;
         display: flex;
    }
    .name{
       
        width: 20px;
        height: 20px;
        display: block;    
    }
    .opensidebar{
         margin-right: 2vw;
        width: 20px;
        height: 20px;
        display: block;
    }
    .bar i{
        color: white;
        font-size: 4vh;
    }

    /* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    
    margin: 20px;
    border: none;
    cursor: pointer;

   
    font-size: 4vh;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .closebtn{
   
  }
  .sidebaroverlaycontent{
    margin-top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
.dropdowncontent a{
   
    border-bottom: 1px dotted black;
    color: rgb(42, 135, 227);
    font-size: 25px;
}
.dropdowncontent a:last-child{
    border-bottom: none;
}
  
  /* Change color of dropdown links on hover */
  .dropdowncontent a:hover {background-color: white;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



      /* Dropdown1 Button */
.dropbtn1 {
    background: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    margin: 20px;
    border: none;
    cursor: pointer;

    
    font-size: 4vh;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn1:hover, .dropbtn1:focus {
    background-color: transparent;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdowncontent1 {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
.dropdowncontent1 a{
   
    border-bottom: 1px dotted black;
    color: rgb(42, 135, 227);
    font-size: 25px;
}
.dropdowncontent1 a:last-child{
    border-bottom: none;
}
  
  /* Change color of dropdown links on hover */
  .dropdowncontent1 a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show1 {display:block;}






    nav{
        
       justify-content: space-between;
       align-items: center;
       text-align: center;
        display: flex;
    }
    .logo{
      
    }
    .logo img{
        width: 7vw;
        padding: 2px;
        
    }
    /* end oflogo */
    .menus{
        display: none;
    }
    .menus ul{
        justify-content: center;
       align-items: center;
       text-align: center;
        display: flex;
        display: flex;
    }
    .menus ul li {
        list-style: none;
        margin: 20px;
    }
    .menus ul li a{
        text-decoration: none;
       color: black;
    }
    .quote  a{
        background-color: rgb(40, 49, 56);
        padding: 10px;
       
       
    }
    
    
    .contact{
        
        justify-content: space-around;
       align-items: center;
       text-align: center;
        display: flex;
    }
    /* end of menus */
    /* end of header */
    
    
    .homepage{
        margin-top: 1vh;
        height: auto;
        
    
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
      
    }
    .banner{
        width: 100%;
        height: 75vh;
        position: relative;
        overflow: hidden;
    }
    .slider{
        width: 100%;
        height: 75vh;
        position: absolute;
        top: 0;
         
    }
    #slideimg{
        width: 100%;
        height: 100%;
    }
    .overlay{
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
        position: absolute;
        top: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
    }
    
    .over{
      
        height: auto;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
    .over h1{
        line-height: 5vh;
        font-size: 5vh;
    }
    .btn{
        margin-top: 2vh;
    }
    .btn button{
        width: 200px;
        padding: 12px 0 ;
        text-align: center;
        max-width: 0 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid orange;
        background: transparent;
        color: #fff;
        cursor: pointer;
        transition: 0.2s;
    }
    .btn button:hover{
        
        border: 2px solid #fff;
        background: transparent;
        
    }
    
    
    /* end of homepage section */
    .destinations{
        height: auto;
        background-color: white;
        padding-top: 4vh;
    
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .title{
        text-align: center;
        width: 100vw;
        padding: 2vw;
    }
    .title h1{
       
        font-size: 5vh;
    }
    .title h1 span{
        color: rgb(255, 188, 30);
    }
    .title p{
        font-size: 3vh;
    }
    .destiny{
        padding: 4vh;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .destiny1{
        background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/back.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        width: 100%;
        border-radius: 10px;
        margin: 1vw;
    
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        color: white;
    }
    /* end of destiny1 */
    .destiny2{
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .destiny21{
        background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/d21.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
        width: 49%;
        border-radius: 10px;
        margin: 1%;
    
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        color: white;
       
    
    }
    .destiny22{
        background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/d22.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
        width: 49%;
        border-radius: 10px;
        margin: 1%;
    
    
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        color: white;
       
    
    }
    .destiny23{
        background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/d33.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
        width: 45%;
        border-radius: 10px;
        margin: 1%;
       
    
    
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        color: white;
    }
    .destiny24{
        background: linear-gradient(rgba(53, 53, 53, 0.01),rgb(0, 0, 0)),url(images/d44.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
        width: 45%;
        border-radius: 10px;
        margin: 1%;
       
    
    
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        color: white;
    
    }
    /* end of destinations */
    
    .International{
        height: auto;
        background-color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .International .heading{
        text-align: center;
        width: 100vw;
    }
    .International .heading h1{
        
        font-size: 5vh;
    }
    .International .heading h1 span{
        color: rgb(255, 188, 30);
    }
    .International .heading p{
        font-size: 3vh;
    }
    .interdes{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;

    }
    .interdes1{
        width: 100%;
        margin: 2vw;
        height: auto;
    }
    .interdes1 button{
        padding: 6px;
        background-color: rgb(255, 188, 30);
        color: white;
        border: none;
        width: 100%;
    }
    .interdes1 img{
        width: 100%;
        height: 25vh;
    }
    .content{
        
        background-color: rgb(240, 233, 233);
        height: 8vh;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    /* applys for every icons  */
    .icons{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
    }
    /* applys for every dot */
    .dot{
        width: 17px;
        height: 17px;
        background-color: black;
        border-radius: 50%;
        margin: 2px;
    }
    /* end of international */
    .themedpackeges{
        height: auto;
        background-color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .themehed{
      width: 100vw;
    }
    .themehed h1{
        font-size: 4vh;
        line-height: 5vh;
        
    }
    .themehed h1 span{
        color: rgb(255, 188, 30);
    }
    .themehed p{
        font-size: 2.5vh;
    }
    
    .packages{
       
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .package1{
       
        width: 100%;
        padding: 1vh;
        height: auto;
        margin: 1vw;
        transition: 1.5s;
    }
    .package1:hover{
        transform: none;
        border-radius: 10px;
    }
    .package1 img{
        width: 100%;
        border-radius: 10px;
        height: 35vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    
    .info{
        background-color: white;
        padding: 1vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .info h2{
        font-size: 3vh;
        padding: 3px;
    }
    .info button{
        padding: 10px;
        background-color: rgb(255, 188, 30);
        color: white;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    /* end of packages */
    
    .offers{
        height: auto;
        background-color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    
    }
    .offershed {
        width: 100vw;
    }
    .offershed h1{
        font-size: 5vh;
        line-height: 5vh;
    }
    .offershed h1 span{
        color: rgb(255, 188, 30);
    }
    .offershed p{
        font-size: 3vh;
        padding: 1vh;
    }
    .theoffers{
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .offer1{
        height: auto;
        width: 95%;
        
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .offer1 .image{
        width: 100%;
        height: 35vh;
        background-image: url(images/offer1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 1px solid transparent;
    }
    .offer1 .image p{
        background-color: green;
        width: auto;
        color: white;
        border-radius: 7px;
        padding: 4px;
        margin-top: 30vh;
        
    }
    /* applys to all description in offer1,2,3,4 */
    .description{
    
    text-align: left;
    margin: 5px;
    }
    .description h5{
        font-size: 3vh;
    }
    .description p{
        padding-top: 3px;
    }
    .description i{
        color: orange;
        padding-top: 10px;
    }
    /* end of description */
    
    .offer2{
        height: auto;
        width: 95%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .offer2 .image{
        width: 100%;
        height: 35vh;
        background-image: url(images/offer2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 1px solid transparent;
    }
    .offer2 .image p{
        background-color: green;
        width: auto;
        color: white;
        border-radius: 7px;
        padding: 4px;
        margin-top: 30vh;
        
    }
    
    .offer3{
        height: auto;
        width: 95%;
        margin: 2vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .offer3 .image{
        width: 100%;
        height: 35vh;
        background-image: url(images/offer3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 1px solid transparent;
    }
    .offer3 .image p{
        background-color: green;
        width: auto;
        color: white;
        border-radius: 7px;
        padding: 4px;
        margin-top: 30vh;
        
    }
    
    
    .offer4{
        height: auto;
        width: 95%;
        margin: 2vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .offer4 .image{
        width: 100%;
        height: 35vh;
        background-image: url(images/offer4.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 1px solid transparent;
    }
    .offer4 .image p{
        background-color: green;
        width: auto;
        color: white;
        border-radius: 7px;
        padding: 4px;
        margin-top: 30vh;
        
    }
    /* end of offers */
    footer{
        padding-top: 10vh;
        padding-bottom: 10vh;
        height: auto;
        background-color: black;
        color: white;
      
    }
    .foot{
        height: auto;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .foot1{
        width: 100%;
        height: auto;
        margin: 2vw;
        text-align: left;
    }
    .foot1 h2{
     padding: 10px;
     font-size: 3vh;
    }
    .foot1 p{
        padding: 2vh;
    }
    .foot1 i{
        padding: 10px;
        font-size: 20px;
    }
}